@import 'style/_fonts.scss';

.Book {
  width: 180px;
  margin: 16px;

  &__ImageFrame {
    width: 100%;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
    height: 270px;
    overflow: hidden;
  }

  &__Image {
    width: 100%;
  }

  &__Title {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-family: $secondary-font-stack;
  }

  &__Author {
    font-size: 13px;
    margin: 0;
  }
}
